@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap");
/*@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");*/
@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/all.min.css");
:root {
  --blue1: #1565c0;
  --blue2: #4ccfe1;
  --blue3: #638da8;
  --blue4: #36b5c9;
  --blue5: #4b89ce;
  --gray1: #6d8199;
  --pink: #ef6392;
  --light: #fafafa;
  --dark: #424242;
  --dark1: #212121;
}

.row-container {
  padding-left: calc(1.5rem / 2);
  padding-right: calc(1.5rem / 2);
}

* {
  font-family: "Noto Sans JP";
}
body {
  min-height: 100%;
  min-width: 1024px;
  /*background: linear-gradient(var(--blue1), var(--blue2)) fixed;*/
  background-color: var(--blue1);
}
.App {
  text-align: center;
  height: 100%;
  color: var(--light);
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.bg-blue1 {
  background-color: var(--blue1);
}
.bg-blue2 {
  background-color: var(--blue2);
}
.bg-blue3 {
  background-color: var(--blue3);
}
.bg-blue4 {
  background-color: var(--blue4);
}
.bg-blue5 {
  background-color: var(--blue5);
}
.bg-gray1 {
  background-color: var(--gray1);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-kl-light {
  background-color: var(--light);
}
.bg-kl-dark {
  background-color: var(--dark);
}
.bg-kl-dark-1 {
  background-color: var(--dark1);
}
.bg-kl-dark-transparent {
  background-color: rgba(0, 0, 0, 0.849);
}

.text-blue1 {
  color: var(--blue1);
}
.text-blue2 {
  color: var(--blue2);
}
.text-blue3 {
  color: var(--blue3);
}
.text-blue4 {
  color: var(--blue4);
}
.text-blue5 {
  color: var(--blue5);
}
.text-gray1 {
  color: var(--gray1);
}
.text-kl-light {
  color: var(--light);
}
.text-kl-dark {
  color: var(--dark);
}

/*input.phd-white::placeholder {
  color: white;
}*/

/* etc. */
.w-100px {
  width: 100px;
}
.w-120px {
  width: 120px;
}
.w-140px {
  width: 140px;
}
.w-160px {
  width: 160px;
}
.w-180px {
  width: 180px;
}
.w-200px {
  width: 200px;
}
.fs-40px {
  font-size: 40px;
}
.fs-60px {
  font-size: 60px;
}
.fs-80px {
  font-size: 80px;
}
.fs-100px {
  font-size: 100px;
}
.fs-120px {
  font-size: 120px;
}
input {
  outline: none !important;
  box-shadow: none !important;
  color: inherit !important;
}
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bdbdbd !important;
  opacity: 1; /* Firefox */
}

.rounded-8px {
  border-radius: 8px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}

.fc-button-primary {
  border: none !important;
  background-color: var(--blue4) !important;
}
.fc-toolbar-title {
  /*background-color: var(--dark);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 6px;*/
  font-weight: lighter !important;
  font-size: 20px !important;
}

.modal-openning {
  animation: modalOpening 0.5s ease-out;
}

@keyframes modalOpening {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
